<section class="todoapp" @onOffTodoApp>
  <div class="form-group" *ngIf="!firebaseDataServie.isLoggedIn()">
    <button type="button" class="btn btn-block" (click)="firebaseDataServie.signInWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Login with Google
    </button>
  </div>
  <div class="form-group" *ngIf="firebaseDataServie.isLoggedIn()">
    <button type="button" class="btn btn-block" (click)="firebaseDataServie.logout()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Logout google
    </button>
  </div>
  <div>
    <h1 class="text-center text--white">My Todos</h1>
    <ul class="list-group task-container">
      <li class="list-group-item">
        <form action="" style="margin-bottom:0;" (ngSubmit)="addTodoForUser()">
          <div class="input-group">
            <label for="taskinput" class="sr-only">Task Title</label>
            <input type="text" class="form-control" name="taskinput" id="taskinput" placeholder="Create Some Tasks ..."
              autocomplete="off" [(ngModel)]="newTodo.title">
            <span class="input-group-btn">
              <label for="submit" class="sr-only">Submit</label>
              <button id="submit" class="btn btn-primary"><span class="fa fa-plus"></span></button>
            </span>
          </div>
        </form>
      </li>

      <!-- TASK COUNTERS -->
      <li class="list-group-item task-transition" @onOffTaskTransition *ngIf="todos.length > 0">
        <span class="label label-info" style="margin-right:10px">All Tasks : {{todos.length}}</span>
        <span class="label label-danger" style="margin-right:10px">Incomplete : {{todosIncomplete.length}}</span>
        <span class="label label-success" style="margin-right:10px">Complete : {{todosComplete.length}}</span>
      </li>

      <!-- INCOMPLETE TASKS  -->
      <ng-container *ngFor="let todo of todos">
        <li class="list-group-item task task-transition" @onOffTaskTransition [class.task-complete]="todo.complete"
          *ngIf="!todo.complete">
          <input type="checkbox" [checked]="todo.complete" (click)="toggleTodoComplete(todo)">
          {{todo.title}}
          <button class="btn btn-danger pull-right btn-xs btn-circle" (click)="removeTodo(todo)"><span class="fa fa-trash-o"></span></button>
        </li>
      </ng-container>

      <!-- COMPLETE TASKS  -->
      <ng-container *ngFor="let todo of todos">
        <li class="list-group-item task task-transition" @onOffTaskTransition [class.task-complete]="todo.complete"
          *ngIf="todo.complete">
          <input type="checkbox" [checked]="todo.complete" (click)="toggleTodoComplete(todo)">
          {{todo.title}}
          <button class="btn btn-danger pull-right btn-xs btn-circle" (click)="removeTodo(todo)"><span class="fa fa-trash-o"></span></button>
        </li>
      </ng-container>
      <!-- Clear Tasks Filters -->
      <li class="list-group-item" @onOffTaskTransition *ngIf="todosComplete.length > 0">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-block btn-default btn-lg btn-clear" (click)="removeTodosComplete()">Clear
              Completed Tasks</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>